@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Colors */

/*
60% of #677F98 - Primary
30% of #676798 - Secondary
10% of #679898 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #386641;

/* var(--secondaryColor) !important; */
--secondaryColor: #6A994E;

/* var(--accentColor) !important; */
--accentColor: #ffff;

/* var(--fontFamily) !important; */
--fontFamily: "Playfair Display", serif;

}