<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Trail Contact</h3>
          <ul>
            <li>Contact the Ranger</li>
            <li>Location & Maps</li>
            <li>Email Us</li>
            <li>Hours of Operation</li>
          </ul>
        </div>

        <!-- Column 2 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Park Rules</h3>
          <ul>
            <li>Trail Guidelines</li>
            <li>Safety Disclaimer</li>
            <li>Privacy Policy</li>
            <li>Terms of Use</li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Gear & Shop</h3>
          <ul>
            <li>Hiking Essentials</li>
            <li>Camping Accessories</li>
            <li>Gift Cards</li>
            <li>Returns & Exchanges</li>
          </ul>
        </div>

        <!-- Column 4 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Explore More</h3>
          <ul>
            <li>Trail Guides</li>
            <li>Hiking Tips</li>
            <li>Wildlife & Nature</li>
            <li>Blog & Stories</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->
</footer>
